[user]
  name  = Suguru Odai
  email = ourqwers@gmail.com

[alias]
  adp = add -p
  co  = checkout
  cm  = commit
  df  = diff
  dfh = diff HEAD
  lg  = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all
  rb  = rebase
  st  = status

[color]
  ui = true

[push]
  default = matching

[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
