[user]
  name = Suguru Odai
  email = ourqwers@gmail.com
[alias]
  adp = add -p
  st = status
  lg = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all
  co = checkout
  cm = commit
  rb = rebase
  df = diff
  dfh = diff HEAD
[color]
  ui = true
[push]
  default = matching
[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
