[user]
  name = Suguru Odai
  email = ourqwers@gmail.com
[alias]
  st = status
  lg = log --oneline --graph --decorate
  lga = log --oneline --graph --decorate --all
  co = checkout
[color]
  ui = true
[push]
  default = matching
[pager]
  log  = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
